*   {
    font-size:20px;
}

html{
    max-width:100%;
}

header, footer    {
    z-index:100;
    background-image: url(https://image.shutterstock.com/image-vector/seamless-pattern-abstract-vector-background-260nw-710903038.jpg);
    width:100%;
    

}

header    {
    position:fixed;
    top:0;
}


body   {
    background: linear-gradient(#FD9380, #FFCE8E);  
    overflow-x:hidden;

}


header {
    background-color: ;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    opacity:0.8;
}

footer  {
    height:50px;
    font-family: 'Fraunces', serif;
    font-size: 20px;
    vertical-align: baseline;
    padding:20px;
    width:100%;
}

ul {
    display:flex;
    flex-direction:row;
}

li  {
    font-family: 'Encode Sans Condensed', sans-serif;
    margin:5px;
}

img {
    width:200px;
    height:auto;
    border:5px solid #87E2D0;
    border-radius:10px;
}

h1  {
    font-size: 40px;
    color:black;
    font-family: 'Monoton', cursive;
}

h2  {
    font-size: 30px;
    color:black;
    font-family: 'Fraunces', serif;
    margin:5px;
}

h3  {
    font-size: 20px;
    color:white;
    font-family: 'Fraunces', serif;
    margin:5px;
}

p   {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight:100;
    text-align:justify;
    margin:10px;
    font-size:20px;
}

form    {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:200px;
    margin:5px;
    background-color:white;
    padding:10px;
    border-radius:20px;
}

input, label   {
    font-family: 'Encode Sans Condensed', sans-serif;
    
}

input   {
    margin-bottom:10px;
    background-color:#D1EBD0;
    border-radius:10px;
}

button  {
    width:100px;
    margin:5px;
    background: linear-gradient(90deg, #D1EBD0, #87E2D0, #2CD2AB);
    border-radius: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-transform:uppercase;
}

a   {
    color:black;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a img:hover {
    opacity:0.8;
}


/* class selectors */

h2.title    {
    font-size:35px;
    font-weight:500;
}

div.intro   {
    display:flex;
    flex-direction:column;
}

div.content    {
    display:flex;
    flex-direction:column;
    margin-top:100px;
    
}

div.portfolio-container {
    display:flex;
    flex-direction: column;
    margin:20px;
}

div.portfolio-child   {
    width: 500px;
    height: 500px;
}

div.portfolio-child p   {
    width:500px;
}

div.horiseon    {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;

}

div.watercolors   {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;

}

div.generic     {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;

}

div.cow  {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}     

div.horiseon-a    {
    width:600px;
}

div.watercolors-a   {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.generic-a     {
   
}

div.cow-a   {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.watercolors img {
    width:400px;
}

p.watercolors-p {
    font-size:30px;
}




div.about-me-section    {
    margin:20px;
    margin-top:50px;
    background: linear-gradient(90deg, #D1EBD0, #87E2D0, #2CD2AB);
    border:5px solid #00B2AF;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

div.about-me-section h2 {
    margin:20px;
}

div.about-me-spacer     {
    height:6vh;
}

div.about-me-section h3   {
    text-align:right;
    margin-top:20px;
}

img.about-me-img    {
    height:400px;
    width:auto;
    border-color: #00B2AF;
}

div.about-me-p  {
    margin-bottom:20px;
}

p.text-right    {
    text-align:right;
}

div.about-me-section p > a  {
    border:2px solid #FFCE8E;
}


div.contact-section     {
    margin:20px;
    width:100%;
    left:-10px;
    border-top:5px solid #00B2AF;
    border-bottom:5px solid #00B2AF;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:60vh;    
    margin:5px;
    background-image: url(https://images.assetsdelivery.com/compings_v2/cocoartua/cocoartua2006/cocoartua200600010.jpg);
}

div.contact-section h2  {
    background-color:white;
    border-radius:10px;
    opacity:0.8;
}


/* media queries */

@media only screen and (max-width: 600px)    {

    body    {
        background-color:blue;
    }



    /*     
    header  {
        width:90vw;
        height:250px;
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        align-items:flex-start;
        text-align:center;
    }

    nav   {
        position:absolute;
        text-align:left;
        top:30%;
        left:0;
        width:80%;
        border-radius:5px;
        display:none;
    }

    ul  {
        nav ul {
        margin:0;
        padding:0;
        list-style:none;
    }
          
          
    nav li{
        margin-bottom:1em;
        margin-left:1em;  
     }
     nav a {
        color:rgb(66, 73, 203);
        text-decoration:none;
        font-size:1.2rem;
      }
      
      
      nav a:hover {
        color: black;
      }
      
      
      
      .nav-toggle{
        display:none;
      }
      
      #nav-toggle:checked ~ nav{
        display:block;
      }
      
      
      
      .nav-toggle-label{
        position:absolute;
        top:0;
        left:0;
        margin-left:1em;
        margin-right:1em;
        display:flex;
        align-items:center;
      }
      
      
      .nav-toggle-label span,
      .nav-toggle-label span ::before,
      .nav-toggle-label span ::after {
        display:block;
        background:rgb(66, 73, 203);
        height:5px;
        width:2em;
        border-radius:2px;
        position:relative;
      }
      
      .nav-toggle-label span ::before,
      .nav-toggle-label span ::after {
        content:'';
        position: absolute;
      }
      .nav-toggle-label span ::before {
        bottom:7px;
      }
      
      .nav-toggle-label span ::after {
        top:7px;
      }
      
      
      .nav-bar{
        font-size:15px;
      } */
    

}
