html{
    max-width:100%;
}

header, footer    {
    z-index:100;
    background-image: url(https://image.shutterstock.com/image-vector/seamless-pattern-abstract-vector-background-260nw-710903038.jpg);
    width:100%;
    

}

header    {
    position:fixed;
    top:0;
}


body   {
    background: linear-gradient(#FD9380, #FFCE8E);  
    overflow-x:hidden;
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}


header {
    background-color: ;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    opacity:0.8;
}

footer  {
    height:50px;
    font-family: 'Fraunces', serif;
    font-size: 20px;
    vertical-align: baseline;
    padding:20px;
    width:100%;
}

ul {
    display:flex;
    flex-direction:row;
}

li  {
    font-family: 'Encode Sans Condensed', sans-serif;
    margin:5px;
}

img {
    width:30vw;
    height:auto;
    border:5px solid #87E2D0;
    border-radius:10px;
}

h1  {
    font-size: 40px;
    color:black;
    font-family: 'Monoton', cursive;
}

h2  {
    font-size: 30px;
    color:black;
    font-family: 'Fraunces', serif;
    margin:5px;
}

h3  {
    font-size: 20px;
    color:white;
    font-family: 'Fraunces', serif;
    margin:5px;
}

p   {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight:100;
    text-align:justify;
    margin:10px;
    font-size:20px;
}

form    {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:200px;
    margin:5px;
    background-color:white;
    padding:10px;
    border-radius:20px;
}

input, label   {
    font-family: 'Encode Sans Condensed', sans-serif;
    
}

input   {
    margin-bottom:10px;
    background-color:#D1EBD0;
    border-radius:10px;
}

button  {
    width:100px;
    margin:5px;
    background: linear-gradient(90deg, #D1EBD0, #87E2D0, #2CD2AB);
    border-radius: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-transform:uppercase;
}

a   {
    color:black;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a img:hover {
    opacity:0.8;
}


/* class selectors */

h2.title    {
    font-size:35px;
    font-weight:500;
}

div.intro   {
    margin:5px;
    display:flex;
    flex-direction:column;
}

figure.top     {
    height:5vh;
}

main.content    {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-top:100px;
    
}

main.content h2  {
    color:white;
    font-size:40px;
}

div.portfolio-container {
    display:flex;
    flex-direction: column;
    margin:10px;
    width:80vw;
}



span.portfolio-child p   {
    width:100%;
    line-height:30px;
}


span.portfolio-child   {
    display:flex;
    width:100%;
    height:auto;
    margin:20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}

div.link-block   {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
}

span.right-align > div.link-block  {
    align-items:flex-end;
}

img.watercolors-img {
    width:300px;
}

p.watercolors-p {
    font-size:30px;
}




article.about-me-section    {
    margin:20px;
    margin-top:50px;
    left:50px;
    background: linear-gradient(90deg, #D1EBD0, #87E2D0, #2CD2AB);
    border:5px solid #00B2AF;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

article.about-me-section h2 {
    margin:20px;
}

div.about-me-spacer     {
    height:6vh;
}

article.about-me-section h3   {
    text-align:right;
    margin-top:20px;
}

img.about-me-img    {
    height:400px;
    width:auto;
    border-color: #00B2AF;
}

article.about-me-p  {
    margin-bottom:20px;
}

p.text-right    {
    text-align:right;
}

span.line-break {
    display:none;
}

article.about-me-section p > a  {
    border:2px solid #FFCE8E;
}


div.contact-section     {
    margin:20px;
    width:110%;
    left:-10px;
    border-top:5px solid #00B2AF;
    border-bottom:5px solid #00B2AF;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:60vh;    
    margin:5px;
    background-image: url(https://images.assetsdelivery.com/compings_v2/cocoartua/cocoartua2006/cocoartua200600010.jpg);
}

div.contact-section h2  {
    background-color:white;
    color:black;
    border-radius:10px;
    opacity:0.8;
}







/* media queries */



@media only screen and (max-width: 600px)    {

    
        
    header  {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }

    header h1   {
        font-size:1.5em;
    }

    h2.title    {
        font-size: 1.5em;
    }

    nav   {
        text-align:right;
        top:30%;
        left:0;
        width:30%;
        border-radius:5px;
    }

    ul  {
        display:flex;
        flex-direction:column;s
    
    }
          
          
    nav li{
        margin:2px;
     }

     nav a {
        text-decoration:none;
        font-size:1rem;
      }

      a.no-display  {
          display:none;
      }
      
      h2, p {
          font-size:1.5rem;
      }

      div.intro {
          width:100%;
      }

      div.content    {
         margin:50px;
         width: 90vw;
      }
      
      a.no-display  {
        display:none;
        }
     

    span.portfolio-child   {
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        width:100%;
        margin-bottom: 50px;
    }
   
    span.portfolio-child a{
        display:flex;
        justify-content: center;
    }

    span.portfolio-child img   {
        width:90%;
        height:auto;
    }

      
    span.portfolio-child p {
          width:100%;
          font-size:20px;
  
      }

    span.right-align    {
        flex-direction:column-reverse;
    }

    span.right-align > div.link-block  {
        align-items:center;
    }

    span.line-break {
        display:inline-block;
        background-color: #00B2AF;
        height:5px;
        width:80vw;
        border-radius:2px;
    }

    div.about-me-spacer {
        display:none;
      }

      

      