/* defining variables for entire page */

html {
    max-width: 100%;
    --peach: #FD9380;
    --yellow-orange: #FFCE8E;
    --orange-gradient: linear-gradient(#FD9380, #FFCE8E);
    --green-light: #D1EBD0;
    --teal-light: #87E2D0;
    --teal-dark: #00B2AF;
    --blue-gradient: linear-gradient(90deg, #D1EBD0, #87E2D0, #2CD2AB);
    --tricolor: linear-gradient(90deg, #87E2D0, #FD9380, #FFCE8E);
    --black: black;
    --white: white;
    --title-font: 'Monoton', cursive;
    --h2-font: 'Fraunces', serif;
    --p-font: 'Encode Sans Condensed', sans-serif;
    /* remove horizontal scroll */
    overflow-x: hidden;
}


/* body style. Overflow-x hidden to remove horizontal scroll bar. */

body {
    background: var(--orange-gradient);
    /* width:100%; */
    /* min-width: fit-content;} */
}


/* header/footer style. Image is royalty free and seamless. */

header,
footer {
    z-index: 100;
    background-image: url(https://image.shutterstock.com/image-vector/seamless-pattern-abstract-vector-background-260nw-710903038.jpg);
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.8;
}

footer {
    height: 50px;
    font-family: 'Fraunces', serif;
    font-size: 20px;
    vertical-align: baseline;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    align-items: flex-end;
}


/* fullscreen nav bar is row display */

ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

li {
    font-family: 'Encode Sans Condensed', sans-serif;
    margin: 5px;
}


/* h1 through h3 styles */

h1 {
    font-size: 40px;
    color: var(--black);
    font-family: var(--title-font);
}

h2 {
    font-size: 30px;
    color: var(--black);
    font-family: var(--h2-font);
    margin: 5px;
}

h3 {
    font-size: 20px;
    color: var(--black);
    font-family: var(--h2-font);
    margin: 5px;
}


/* about me tect block */

div.about-me-p p {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
    font-size: 20px;
}


/* form is part of contact section */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 5px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 20px;
}


/* form style (contact section) */

input,
label {
    font-family: var(--p-font);
}

input {
    margin-bottom: 10px;
    background-color: var(--green-light);
    border-radius: 10px;
}

button {
    width: 100px;
    margin: 5px;
    background: var(--blue-gradient);
    border-radius: 10px;
    font-family: var(--p-font);
    text-transform: uppercase;
}


/* links in nav bar */

a {
    color: var(--black);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    text-decoration: none;
    color: var(--peach);
}

a:active {
    text-decoration: underline;
}


/* image links in work section */

a img:hover {
    opacity: 0.8;
}


/* class selectors */


/* "web developer" text in header */

h2.title {
    font-size: 35px;
    font-weight: 500;
}


/* Name and title in header */

div.intro {
    margin: 5px;
    display: flex;
    flex-direction: column;
}


/* spacer for jump to top of page */

figure.top {
    height: 5vh;
}


/* bar that floats behind the content on fullscreen */

section.self-bar {
    width: 98%;
    left: 0px;
    top: 125px;
    position: fixed;
    height: auto;
    background: var(--tricolor);
    border-radius: 0px 70px 70px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 0;
}


/* round img and align to left */

img.self-img {
    border: 5px solid var(--teal-dark);
    border-radius: 50%;
    height: 150px;
    width: auto;
    margin: 10px;
}


/* about-me and work (portfolio) section */

main.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25vh;
    margin-bottom: 50px;
}


/* float in front of self-bar */

article.main-child,
div.contact-section {
    z-index: 1;
}

article.main-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 50px;
    width: 80vw;
}


/* show h2 text vertically */

h2.article-title {
    margin: 20px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--white);
}


/* for page jump */

div.about-me-spacer {
    height: 6vh;
}


/* about me paragraph style */

div.about-me-p {
    border-radius: 0px 70px 70px 0px;
    background: var(--blue-gradient);
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-left: 5px solid var(--teal-dark);
    line-height: 30px;
}


/* border on left, curved on right, wrap contents*/

div.link-container {
    border-left: 5px solid var(--teal-dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--tricolor);
    border-radius: 0px 70px 70px 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


/* style for each site link and image */

span.link-block {
    display: flex;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
}


/* overlap site name on image */

a.work-title {
    position: absolute;
    margin: 10px;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.7);
}


/* style for site previews */

span.link-block a img {
    width: 300px;
    height: auto;
    border: 5px solid var(--teal-light);
    border-radius: 10px;
}


/* make most recent site image larger */

span.link-block a img.most-recent {
    width: 400px;
}

span.link-block a img.circular {
    border-radius: 50%;
}


/* contact section background is royalty-free and seamless. */

div.contact-section {
    width: 100%;
    left: -10px;
    border-top: 5px solid var(--teal-dark);
    border-bottom: 5px solid var(--teal-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 5px;
    margin-top: 50px;
    background-image: url(https://images.assetsdelivery.com/compings_v2/cocoartua/cocoartua2006/cocoartua200600010.jpg);
}


/* phone and email. row display on fullscreen, background white. */

span.contact-info {
    margin-top: 30px;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(250, 250, 250, 0.9);
}

span.contact-info p {
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    font-family: var(--p-font);
}

div.contact-section h2 {
    background-color: rgba(250, 250, 250, 0.9);
    color: black;
    border-radius: 10px;
}


/* mobile display */

@media only screen and (max-width: 800px) {
    /* resize header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header h1 {
        font-size: 1.5em;
    }
    div.intro {
        width: 50%;
    }
    h2.title {
        font-size: 1.5em;
    }
    /* nav bar becomes column */
    nav {
        text-align: right;
        padding: 5px;
        /* margin-right:50px; */
    }
    .nav-list {
        display: flex;
        flex-direction: column;
    }
    nav li {
        margin: 2px;
    }
    nav a {
        text-decoration: none;
        font-size: 1rem;
    }
    /*about-me, top of page, and contact nav link, no display on mobile */
    a.no-display {
        display: none;
    }
    main.content {
        margin: 0px;
        margin-top: 100px;
        align-items: center;
    }
    h2.article-title,
    p {
        font-size: 1.5rem;
    }
    /* self-bar becomes full width of page */
    section.self-bar {
        width: 100vw;
        border-radius: 0px;
        position: relative;
        left: 0px;
        top: 0px;
        margin: 0px;
        margin-bottom: 20px;
        justify-content: center;
    }
    section.self-bar img {
        height: 300px;
        width: auto;
    }
    /* page title font shrink */
    span.link-block a>h3 {
        font-size: 10px;
    }
    /* page image shrink */
    span.link-block a>img {
        width: 100%;
        height: auto;
    }
    article.main-child {
        width: 95%;
        margin: 5px;
        margin-top: 20px;
        align-items: flex-start;
    }
    span.link-block a>img.most-recent {
        width: 100%;
    }
    /* shift number and email display to column */
    span.contact-info {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    span.contact-info p {
        font-size: 25px;
    }
    /* remove spacer used for page jumps */
    div.about-me-spacer {
        display: none;
    }
}